services:
  - type: web
    name: help-me-bunk
    runtime: docker
    plan: free
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.0
